target/classes/rabbitxmlenc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:amqp="http://www.mulesoft.org/schema/mule/amqp" xmlns:encryption="http://www.mulesoft.org/schema/mule/encryption" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/amqp http://www.mulesoft.org/schema/mule/amqp/current/mule-amqp.xsd
http://www.mulesoft.org/schema/mule/encryption http://www.mulesoft.org/schema/mule/encryption/current/mule-encryption.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <encryption:config name="Encryption" defaultEncrypter="XML_ENCRYPTER" doc:name="Encryption">
        <encryption:xml-encrypter-config key="mahindracomviva1" xpath="/SADIK/ALI/CITY"/>
    </encryption:config>
    <amqp:connector name="AMQP_0_9_Connector" validateConnections="true" doc:name="AMQP-0-9 Connector"/>
    <flow name="rabbitxmlencFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/rabbitxml" allowedMethods="POST" doc:name="HTTP"/>
        <string-to-byte-array-transformer doc:name="String to Byte Array"/>
        <encryption:encrypt config-ref="Encryption" doc:name="Encryption">
            <encryption:xml-encrypter key="mahindracomviva1" xpath="/SADIK/ALI/CITY" algorithm="AES_128"/>
        </encryption:encrypt>
        <amqp:outbound-endpoint queueName="xmlencry" exchangeType="topic" exchangeDurable="true" responseTimeout="10000" connector-ref="AMQP_0_9_Connector" doc:name="AMQP-0-9"/>
        <object-to-string-transformer doc:name="Object to String"/>
        <set-payload value="This message sent to Mq : #[payload]" doc:name="Set Payload"/>
    </flow>
    <flow name="rabbitxmlencFlow1">
        <amqp:inbound-endpoint queueName="xmlencry" exchangeType="topic" exchangeDurable="true" responseTimeout="10000" doc:name="AMQP-0-9"/>
        <encryption:decrypt config-ref="Encryption" using="XML_ENCRYPTER" doc:name="Encryption">
            <encryption:xml-encrypter key="mahindracomviva1" xpath="/SADIK/ALI/CITY"/>
        </encryption:decrypt>
        <object-to-string-transformer doc:name="Object to String"/>
        <logger message="this is final message : #[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
